---
import Layout from '../../layouts/Layout.astro';
import type { InferGetStaticParamsType, InferGetStaticPropsType, GetStaticPaths } from 'astro';
import { getCollection,render } from 'astro:content';
import Header from '../../components/Header.astro';
export async function getStaticPaths(){
  const posts = await getCollection('books');
  return posts.map((post) => {
    return {
      params: { slug: post.slug },
      props: {  post },
    };
  });
} 
const { post } = Astro.props;
const {data,slug}=post
const {title,img,author,description,readtime}=data
const {Content}=await render(post)
---
<Layout title={title}>
    <div class="px-4 mx-auto max-w-screen-xl ">
      <h1 class="mb-2 text-2xl font-bold leading-tight text-white uppercase">
          {title}
      </h1>
      <hr>
      <div class="flex gap=12 text-white py-8">
          <aside class="w-full">
              <img transition:name={`img-${slug}`} src={`/${img}`} alt={title} class="mr-5 w-72 rounded h-full" >
          </aside>
          <main>
              <div class="prose">
                  <Content></Content>
              </div>
              
          </main>
      </div>
    </div>
</Layout>
