---
//import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
const book=await getCollection("books")
console.log(book)
import SliderShow from '../components/SliderShow.astro'
---

<Layout title="Home Page" >

	<section aria-label="Libros recomendados para programadores">
		<div class="px-4 mx-auto max-w-screen-xl mb-16">
			<div class="grid gap-6 md:grid-cols-2">	
				{
					book.map(book=>
					{
						console.log(book)
						const {slug,data}=book
						const {title,author,img,readtime,description}=data
						return(
							<article class="flex">
								<a href={'/libro/'+slug} class="mb-2 xl:mb-0 transition hover:scale-110">
								<img transition:name={`img-${slug}`} 
									src={img} alt={title} class="mr-5 w-48 rounded h-full" >
								</a>
								<div class="flex flex-col justify-center">
									<h2 class="mb-2 text-2xl font-bold leading-tight text-white uppercase w-max" id="title">
										{title}
									</h2>
									<span class="text-[#a8acb3] text-[15px] font-[emoji] max-w-[16rem]">
										{description}
									</span>
									<span class="text-[#a8acb3] text-[12px] font-[emoji]">
										Lectura en {readtime} minutos.
									</span>
									<button class="btn hover:bg-[#aaaa09] bg-[#aaaa09bf] bottom-[-1rem] relative w-max p-2 font-serif cursor-pointer text-black font-bold rounded-lg focus:outline-2 focus:outline-offset-2 focus:outline-gray-500 ">
										Comprar ahora
									</button>
								</div>
								
							</article>

											
						)
					}
					)
				}
			</div>
		</div>
</section>
<section>
	<SliderShow></SliderShow>
</section>
</Layout>
